@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
  color: #866f57;
}
body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}
.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
a {
  text-decoration: none;
  padding: 0 2% 0 2%;
}
a:hover {
  color: #ff8000;
}
header {
  grid-area: header;
  background-color: #c1e5e3;
  color: #866f57;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: #866f57;
  text-decoration: none;
}
main {
  grid-area: main;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}
/* content */
.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
}
/* products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img {
  width: 100%;
  object-fit: cover;
}
.product img {
  width: 30rem;
  height: 30rem;
}
.designer {
  color: white;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}
.product-price div {
  font-size: 2rem;
}
.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button:hover {
  border: 0.2rem #808080 solid;
}
.button.primary {
  background-color: #f0c040;
}
/* Filter */

.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.filter div {
  flex: 1;
}
/* cart */
.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.cart-items img {
  width: 5rem;
}
.cart-items li {
  display: flex;
}
.cart-items li div {
  padding: 0.5rem;
}
.cart-items li div:last-child {
  flex: 1;
}
.right {
  text-align: right;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.total > div {
  font-size: 2rem;
}
.total > div,
.total > button {
  flex: 1;
}
/* Checkout Form */
form {
  width: 100%;
}
.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}
/* Product Details Modal*/
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 90vh;
}
.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}
.product-details-description {
  flex: 1 1;
  margin: 1rem;
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}

/* Order Details */

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-details li div {
  padding: 10px;
}
.order-details .items {
  text-align: right;
  padding: 0;
}
.success-message {
  color: green;
}

/* Orders */
.orders {
  width: 100%;
  padding: 10px;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}
td {
  padding: 5px;
}
th {
  text-align: left;
}
/* Home page*/
.home {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  color: #866f57;
}
.md-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 8px;
  border: none;
  border-radius: 2px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #fff;
  background-color: #1c5d76;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  font-family: 'Roboto', 'Segoe UI', BlinkMacSystemFont, system-ui,
    -apple-system;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.shop-button.md-button {
  width: 115px;
  margin-left: 43%;
}
.hero {
  padding: 2%;
}
.hero h1 {
  text-align: center;
}

img {
  width: 100%;
}
.hero img {
  width: 100%;
  height: 400px;
}
.footer {
  text-align: center;
  font-size: x-small;
}
.footer a {
  color: #866f57;
}
.logo {
  padding-left: 1%;
}
.about {
  padding: 10%;
  color: #866f57;
}

.about-logo {
  display: flex;
  width: 500px;
}
.about-me {
  flex-direction: column;
  padding-left: 2%;
}
.about-me p {
  margin-left: 2%;
}

/* Gallery*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Media Queries*/

@media (max-width: 750px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-top: 40%;
  }
  .about-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .about-logo img {
    position: absolute;
    top: 5%;
    left: 25%;
    padding: 0 0 20px 0;
    margin-bottom: 20%;
    width: 200px;
    height: 200px;
  }
}
